name: Generate monthly leaderboard

on:
  schedule:
    # first day of the month 06:40 AM UTC (https://crontab.guru/#40_6_1_*_*)
    - cron:  '40 6 1 * *'
  workflow_dispatch:
    branches: [ main ]
    inputs:
      game:
        description: 'name of monthly game'
        required: false
        default: '--game Bugsnax'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'
        dotnet-quality: 'preview'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Generate monthly leaderboard
      env:
        OPENXBLAPI_KEY: ${{ secrets.OPENXBLAPI_KEY }}
      run: dotnet run --configuration Release monthly ${{ github.event.inputs.game }} ./docs/scores
    - name: Checkin new stats
      uses: EndBug/add-and-commit@v9
      with:
        message: 'monthly run'
